argparse==1.4.0
pycodestyle==2.7.0
autopep8==1.5.6
pytest==4.6.2
pytest-cov==2.11.1

SQLAlchemy==1.4.12
git+https://github.com/PrettyWood/databases@fix/sqlalchemy-1.4#databases
fastapi==0.63.0
uvicorn==0.13.4
aiosqlite=0.17.0